{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center;">Purchase</h1>

<div style="margin-left: auto; margin-right: auto; padding: 20px; text-align: center;">
    <form method="post">
        {% csrf_token %}

        <ul style="display: inline-block; text-align: left;">
            <a style="font-size: 30px;"><strong>Product: </strong> {{prod.product.name}} </a>
            <i style="font-size: 15px; margin-left: 20px;"><strong>Manufacturer: </strong>{{prod.manufacturer.name}}</i>
        </ul>
        <ul>
            <a style="font-size: 25px;"><strong>Quantity: </strong> {{ prod.quantity }}  </a>
            <i style="font-size: 15px;"><strong>Unit price: </strong> {{ prod.price }}</i>
        </ul>

        <hr>

        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>{{ form.quantity.label_tag }}</td>
                <td>{{ form.quantity }}</td>
            </tr>

            <tr>
                <td>{{ form.phone.label_tag }}</td>
                <td>{{ form.phone }}</td>
            </tr>

            <tr>
                <td>{{ form.address.label_tag }}</td>
                <td>{{ form.address }}</td>
            </tr>
        </table>

        {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}

            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <a style="font-size: 15px; margin-left: 150px" id="total-price">Total price:</a>
        <button class="btn btn-primary"
                style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px;">Buy
        </button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    var prodQuantity = parseInt('{{ prod.quantity }}');

    // Function to update the total price based on quantity
    function updateTotalPrice() {
        var quantity = parseInt($('#id_quantity').val() || 1);
        var price = parseFloat('{{ prod.price }}');
        var totalPrice = quantity * price;
        $('#total-price').text('Total price: ' + totalPrice.toFixed(2));
    }

    // Call the function initially to set the initial total price
    updateTotalPrice();

    // Call the function whenever the quantity input value changes
    $('#id_quantity').on('change', function() {
        updateTotalPrice();
        validateQuantity();
    });

    // Add validation to prevent entering negative numbers or exceeding prod.quantity
    $('#id_quantity').on('input', function() {
        var quantity = parseInt($(this).val());
        if (quantity < 0) {
            $(this).val('');
        } else if (quantity > prodQuantity) {
            $(this).val(prodQuantity);
        }
    });

    // Function to validate the quantity when the page loads
    function validateQuantity() {
        var quantity = parseInt($('#id_quantity').val());
        if (quantity > prodQuantity) {
            $('#id_quantity').val(prodQuantity);
        }
    }

    // Call the validation function initially
    validateQuantity();
});
</script>

{% endblock content %}
