* {
    color: white;
}

.container-main {
    padding: 30px;
}

.container-grid {
    display: grid;
    grid-template-areas:
        'info-search info-search'
        'sidebar content';
    gap: 10px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
}

.info-search {
    grid-area: info-search;
    border: 1px solid white;
}

.sidebar {
    grid-area: sidebar;
    align-self: start;
    border: 1px solid white;
}

.content {
    grid-area: content;
    border: 1px solid white;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 5000px;
    transform-style: preserve-3d;
}

.container {
    transform-style: preserve-3d;
    width: 750px;
    height: 500px;
    display: flex;
    margin: 50px 50px;
    justify-content: center;
    align-items: center;
}

.product {
    transform-style: preserve-3d;
    background-color: white;
    min-height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}


.product-image {
    transform-style: preserve-3d;
    align-self: center;
    justify-self: center;
    width: 250px;
    height: 300px;
    transition: all 0.75s ease-out;

    & img {
        width: inherit;
        height: inherit;
        border-radius: 10%;
        object-fit: cover;
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }

    &:hover img{
        transition: opacity 0.3s ease-in;
        opacity: 0.6;
    }
}

.purchase {
    transition: all 0.75s ease-out;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
    width: 150px;
    height: 30px;
    background-color: #4871A9;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}


.product-info {
    transform-style: preserve-3d;

    & h3{
        color: black;
        margin: 20px 0 20px 0;
        transition: all 0.75s ease-out;
    }
    
    & p{
        color: black;
        margin: 20px 0 20px 0;
        transition: all 0.75s ease-out;
    }
}

/* .product-container {
    width: 30%;
    height: 500px;
}

.product {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 45%;
    margin: 30px 30px;
    height: 400px;
    border: 5px solid white;
    border-radius: 10%;
}

.product-image {
    align-self: center;
    justify-self: center;
    width: 250px;
    height: 300px;

    & img {
        width: inherit;
        height: inherit;
        border-radius: 10%;
        object-fit: cover;
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }

    &:hover img{
        transition: opacity 0.3s ease-in;
        opacity: 0.6;
    }
}

.product-info {
    display: grid;
    grid-template-rows: 70px 1fr 90px;
    & h3 {
        margin: 5% 5%;
        grid-row: 1;
        font-size: 18px;
    } 
}

.description {
    grid-row: 2;

    & p {
        margin-top: 10%;
        font-size: 20px;
    }

    & p span {
        font-size: 20px;
        font-weight: bold;
    }
}

.btn {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20% 20px 20%;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.3);
} */